$bg-color-first: #456
$bg-color-second: #bcc
$bg-color-third: #b1966b
$bg-color-fourth: #fc0

$text-color-first: #456

$bg-text-size: 24px
$md-text-size: 16px

$md-border-radius: 4px

%text-first
  font-size: 16px
  color: $text-color-first

%text-second
  font-size: 24px